#input_text_safe_search {
    width: 100%;
    border-radius: 5px;
    padding-left: 10px;
    border: none;
    resize: none;
}

@media (max-width: 800px) {
    #div_searchbar {
        display: inline-block;
        margin-left: 20px;
    }

    #input_text_safe_search {
        font-size: 12px;
        border: none;
        background-color: #e2d9d9 !important;
        border-radius: 5px;
    }

    #input_text_safe_search::-webkit-input-placeholder {
        color: black
    }

    #input_text_safe_search:focus {
        outline: none;
        border: none;
    }
}

#div_search_container {
    position: relative;
}

#icon_search {
    position: absolute;
    right: 10px;
    color: #736c6c;
    top: 5px;
}
