#input_text_safe_search {
    width: 100%;
    resize: none;
}

@media (max-width: 800px) {
    #div_searchbar {
        display: inline-block;
        margin-left: 20px;
    }

    #input_text_safe_search {
        width: 100px;
        font-size: 12px;
        border: none;
        background-color: grey !important;
        border-radius: 5px;
    }

    #input_text_safe_search::-webkit-input-placeholder {
        color: black
    }

    #input_text_safe_search:focus {
        outline: none;
        border: none;
    }
}