/* For future styling for the Home page of the website */
body {
    background-color: white;
}

.slogan {
    position: absolute;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 1.25em;
    color: #5B3434;
    mix-blend-mode: darken;
    border: 0.016em solid #BC8A4E;
    text-shadow: 0em 0.33em 0.33em rgba(0, 0, 0, 0.25);
}

.security-icon {
    width: 60%;

}

.be-safe {
    position: absolute;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 1.16em;
    color: #633535;
    text-align: center;
}

.logo {
    margin-left: auto;
    margin-right: auto;
    display: block;
    text-align: center;
    padding-bottom: 1em;
}

.signup-button-container {
    color: black;
    position: absolute;
    width: 93px;
    height: 33px;
    left: 134px;
    top: 432px;
    background: #EDA1A1;
    border-radius: 5px;
}

.signup-button {
    display: block;
    text-align: center;
    padding-top:0.5em;
    padding-bottom: 0.5em;
}