/* For future styling for the Home page of the website */
.wrapper {
    padding-top: 5em;
    padding-bottom: 7.1em;
}

.slogan {
    position: relative;
    font-family: Roboto;
    font-size: 1rem;
    color: #5B3434;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

.security-icon {
    display: block;
    margin-top: 1.5em;
    margin-left: auto;
    margin-right: auto;
    width: 200px;
}

.be-safe {
    margin-top: 1em;
    position: relative;
    font-family: Roboto;
    font-size: 1rem;
    line-height: 1.16em;
    color: #633535;
    margin-left: auto;
    margin-right: auto;
    display: block;
    text-align: center;
}

.logo {
    margin-left: auto;
    margin-right: auto;
    display: block;
    text-align: center;
    margin-top: 0em;
}

.signup-button-container {
    position: relative;
    display: block;
    color: black;
    background: #EDA1A1;
    border-radius: 5px;
    width: 106.25px;
    padding: 0.5em 1em 0.5em 1em;
    color: #275947;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    margin-top: 1.5em;
}

@media (min-width: 800px) {
    .signup-button-container {
        width: 121px;
    }
}

:hover .signup-button-container {
    color: #275947;
    text-decoration: none;
}