.div_safeitem {
    border-bottom: 1px solid lightgray;
    padding-top: 2%;
    padding-bottom: 2%;
    cursor: pointer;
}

.input_chk_safeitem {
    margin-left: 3%;
    margin-top: 1.6%;
    float: left;
}

#span_safeitem_title {
    font-size: 20px;
    color: #306b9d;
    margin-left: 15%;
    cursor: pointer;
}