.div_safeitem {
    border-bottom: 1px solid lightgray;
    padding-top: 2%;
    padding-bottom: 2%;
}

.input_chk_safeitem {
    margin-left: 3%;
    margin-top: 2.6%;
    float: left;
}

.div_safeitem_info {
    margin-left: 15%;
}

.safeitem_info {
    display: inline;
}

#a_safeitem_title {
    font-size: 20px;
    color: #306b9d;
}

#p_safeitem_login {
    font-size: 16px;
    color: grey;
}