#import_export_menu {
    opacity: 0;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    transition: 0.2s;
    background-color: grey;
    border-radius: 10px;
    width: 300px;
    max-width: 100%;
    height: 200px;
    -webkit-box-shadow: 0px 0px 3px 3px rgba(0,0,0,0.35);
    -moz-box-shadow: 0px 0px 3px 3px rgba(0,0,0,0.35);
    box-shadow: 0px 0px 3px 3px rgba(0,0,0,0.35);
}

#import_export_container {
    color: white;
    font-size: 20px;
    background-color: rgba(40, 40, 43, 0.45);
    border: 1px solid black;
    border-radius: 10px;
    -webkit-box-shadow: 0px 0px 3px 3px rgba(0,0,0,0.35);
    -moz-box-shadow: 0px 0px 3px 3px rgba(0,0,0,0.35);
    box-shadow: 0px 0px 3px 3px rgba(0,0,0,0.35);
    width: 90%;
    margin: 9% 0 0 5%;
    height: 75%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#icon_close_import_menu {
    color: white;
    float: right;
    margin-right: 8px;
    margin-top: 4px;
    font-size: 18px;
    cursor: pointer;
}

.menu_import_export {
    cursor: pointer;
}

.menu_import_export:hover {
    border-bottom: 1px solid white;
}

#div_import_passwords_menu_option {
    margin-bottom: 20px;
}

#file_input {
    display: none;
}
