#div_navbar {
    background-color: #28282B;
    color: white;
    height: 55px;
}

.div_navbar_items {
    height: 35px;
    margin-right: 45px;
    margin-left: 45px;
}

.navbar-brand {
    float: left;
    margin-top: 3px;
    font-size: 25px !important;
}

#navlinks {
    float: right;
    color: white;
    margin-top: 8px;
}

#icon_user {
    float: right;
    margin-top: 16px;
    font-size: 22px !important;
}

#sidebar_menu_icon {
    float: left;
}

a.navbar-brand {
    white-space: normal;
    text-align: center;
    word-break: break-all;
}

html {
  font-size: 16px;
}
@media (max-width: 800px) {
    html {
        font-size: 16px;
    }

    .div_navbar_items {
        margin-left: 2.5%;
        margin-right: 2.5%;
    }
}

.box-shadow {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}