.div_navbar_items {
    height: 35px;
    width: 100%;
    text-align: right;
}
.menu_icon_bar {
    width: 25px;
    height: 4px;
    background-color: black;
    margin: 6px 0;
}
.div_sidebar_menu_icon {
    float: left;
}

.navbar-brand {
    float: left;
    margin-left: 8px;
}

#ul_navbar_links, #navlink_acccount {
    float: right;
}

/*#ul_navbar_links {
    margin-top: 2px;
    padding-right: 4px;
    background-color: white;
    width: 100px;
    float: right;
    border: 1px solid black;
}*/

a.navbar-brand {
    white-space: normal;
    text-align: center;
    word-break: break-all;
}

html {
  font-size: 14px;
}
@media (min-width: 800px) {
  html {
    font-size: 16px;
  }
}

.box-shadow {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}