.div_navbar_items {
    height: 35px;
    width: 100%;
}

.div_sidebar_menu_icon {
    float: left;
}

.menu_icon_bar {
    width: 25px;
    height: 4px;
    background-color: black;
    margin: 6px 0;
}

.navbar-brand {
    float: left;
    margin-left: 8px;
}

#navlinks {
    float: right;
    color: black;
}

#btn_sign_out {
    float: right;
    background: none !important;
    border: none;
    padding: 0 !important;
    /*input has OS specific font-family*/
    color: black;
    cursor: pointer;
    margin-top: 7.5px;
}

a.navbar-brand {
    white-space: normal;
    text-align: center;
    word-break: break-all;
}

html {
  font-size: 14px;
}
@media (min-width: 800px) {
  html {
    font-size: 16px;
  }
}

.box-shadow {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}