.div_safe {
    float: left;
    width: 83%;
    height: 100%;
    overflow: auto;
    background-color: rgba(40, 40, 43, 0.75);
    border-top: .5px solid lightgray;
    color: white;
}

.div_safeitems {
    width: 100%;
    text-align: center;
}

#title_and_options {
    width: 100%;
    background-color: #28282B;
    margin-bottom: 0px;
    padding-left: 10px;
    padding-top: 2px;
    padding-bottom: 3px;
}

#icon_safeitem_dropdown {
    color: white;
    cursor: pointer;
}

#icon_safeitem_plus {
    float: right;
    font-size: 18px;
    margin-right: 48px;
    margin-top: 3px;
    cursor: pointer;
}

#tr_safeitem_labels {
    background-color: rgba(40, 40, 43, 0.55);
}

.icon_safeitem_title_star {
    font-size: 14px;
}

@media screen and (max-width: 1150px) {
    .div_safe {
        width: 75%;
    }
}

@media screen and (max-width: 800px) {
    .div_safe {
        margin-left: 0px;
        width: 100%;
    }

    #span_safe_title {
        float: left;
    }

    #icon_safeitem_plus {
        margin-right: 12px;
    }
}

.div_safe_options {
    border-bottom: 1px solid lightgray;
}