.div_safe {
    float: left;
    width: 80%;
}

@media screen and (max-width: 1150px) {
    .div_safe {
        width: 70%;
    }
}

@media screen and (max-width: 800px) {
    .div_safe {
        margin-left: 0px;
        width: 100%;
    }
}

.div_safe_options {
    border-bottom: 1px solid lightgray;
}

#navlink_add_safe_item {
    float: right;
    margin-top: 2.5%;
    color: black;
    font-weight: 500;
}

#btn_item_settings {
}

#lbl_safe {
    border: none;
    color: black;
    font-size: 40px;
    font-weight: 400;
    display: inline;
}