.div_safe {
    float: left;
    width: 83%;
    height: 100%;
    overflow: auto;
    background-color: rgba(40, 40, 43, 0.75);
    border-top: .5px solid lightgray;
    color: white;
}

.div_safeitems {
    width: 100%;
}

#title_and_options {
    width: 100%;
    background-color: #28282B;
    margin-bottom: 0px;
    padding-left: 2px;
    padding-top: 2px;
    padding-bottom: 3px;
}

#tr_safeitem_labels {
    background-color: rgba(40, 40, 43, 0.55);
}

.icon_safeitem_star {
    font-size: 14px;
}

@media screen and (max-width: 1150px) {
    .div_safe {
        width: 75%;
    }
}

@media screen and (max-width: 800px) {
    .div_safe {
        margin-left: 0px;
        width: 100%;
    }

    #span_safe_title {
        float: left;
    }
}

.div_safe_options {
    border-bottom: 1px solid lightgray;
}