.div_signup {
    margin-top: 135px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#lbl_signup_lastname, #lbl_signup_email, #lbl_signup_pass {
    margin-top: 10%;
}

#btn_signup {
    margin-top: 15%;
    width: 100%;
}

@media (max-width: 800px) {
    .div_signup {
        margin-top: 80px;
    }
}

@media (max-width: 500px) {
    .div_signup {
        margin-top: 30px;
    }
}