#menu_safeitem {
    justify-content: center;
    align-items: center;
    background-color: white;
    color: black;
    padding: 5px;
    border-radius: 5px;
    position: fixed;
    z-index: 1;
}


.menu_safeitem {
    margin-left: 5px;
    margin-right: 5px;
    cursor: pointer;
}
