#account_page_container {
    border-top: 1px solid white;
    height: 100%;
    width: 100%;
}

#acc_page_left {
    background-color: rgba(40, 40, 43, 0.85);
    float: left;
    height: 100%;
    width: 40%;
    overflow: auto;
}

#acc_page_right {
    background-color: rgba(40, 40, 43, 0.75);
    float: right;
    width: 60%;
    height: 100%;
    overflow: auto;
}

#acc_page_mobile {
    background-color: rgba(40, 40, 43, 0.75);
    height: 100%;
    color: white;
    padding: 30px 10px 0px 10px;
}

#acc_page_options {
    float: right;
    margin-top: 35px;
}

#acc_page_options_category {
    color: lightgray;
    font-size: 18px;
    margin-bottom: 0px !important;
}

.acc_options {
    width: 175px;
    color: lightgray;
    cursor: pointer;
    margin-right: 12px;
    padding-left: 10px;
}

.acc_options:hover {
    background-color: rgba(120, 120, 120);
    color: white !important;
    border-radius: 3px;
}

#acc_page_settings {
    margin-top: 45px;
    margin-left: 25px;
    color: white !important;
}

#my_account_header {
    font-size: 30px;
}

#div_acc_info_container {
    margin-top: 25px;
    margin-left: 10px;
    width: 500px;
    height: 350px;
    border-radius: 15px;
    background-color: rgba(40, 40, 43, 0.3);
    padding-top: 45px;
    padding-left: 35px;
    padding-right: 35px;
}

.acc_info_label {
    font-size: 14px;
    color: lightgray;
    padding: 0px !important;
}

.acc_info {
    font-size: 18px;
}

.btn_acc_info_edit {
    float: right;
    border-radius: 10px;
    border: 1px solid grey;
    padding-left: 9px;
    padding-right: 9px;
    background-color: rgba(60, 60, 60, 0.1);
    color: white;
}

.btn_acc_info_edit:after {
    content: "Edit";
}

@media (max-width: 800px) {
    #my_account_header {
        font-size: 25px;
    }

    #div_acc_info_container {
        margin-top: 25px;
        margin-left: 0px;
        width: 100%;
        height: 350px;
        border-radius: 15px;
        background-color: rgba(40, 40, 43, 0.3);
        padding-top: 45px;
        padding-left: 35px;
        padding-right: 35px;
    }
}