.div_SafeSideBar {
    color: white;
    background-color: #28282B;
    border-top: 0.5px solid lightgray;
    border-right: 0.5px solid lightgray;
    width: 17%;
    overflow: auto;
    transition: 0.3s;
    float: left;
    height: 100%;
}

.div_safesidebar_navigation {
    margin-top: 20px;
    padding-left: 7%;
    padding-right: 7%;
    width: 100%;
}

#lbl-folders {
    font-size: 22px;
    font-weight: 300;
    margin-top: 10%;
}

#btn_add_folder, #btn_close_sidebar {
    background: none !important;
    border: none;
    padding: 0 !important;
    /*input has OS specific font-family*/
    color: white;
    cursor: pointer;
}

#btn_close_sidebar {
    margin-right: 3%;
    float: right;
}

#btn_add_folder {
    margin-top: 9%;
    margin-left: 5%;
    font-weight: 900;
    font-size: 24px;
}

#btn_safesidebar_all {
    margin-top: 11%;
    background: none !important;
    border: none;
    padding: 0 !important;
    /*input has OS specific font-family*/
    color: white;
    cursor: pointer;
}

#folder_top_level {
    margin-left: 1.5%;
}

@media screen and (max-width: 1150px) {
    .div_SafeSideBar {
        width: 30%;
    }
}

@media screen and (max-width: 800px) {
    .div_SafeSideBar {
        margin-top: 0%;
        transition: 0.5s;
        position: fixed;
        z-index: 1;
        height: 100%;
        width: 0;
        border: none; /*start our sidebar off not being seen in mobile*/
    }
}
