.div_SafeSideBar {
    color: white;
    background-color: #28282B;
    border-top: 0.5px solid lightgray;
    border-right: 0.5px solid lightgray;
    width: 17%;
    overflow: auto;
    transition: 0.3s;
    float: left;
    height: 100%;
}

.div_safesidebar_navigation {
    margin-top: 20px;
    padding-left: 7%;
    padding-right: 7%;
    width: 100%;
}

#div_sidebar_all_entries {
    margin-top: 15%;
    cursor: pointer;
}

#div_sidebar_favorites {
    margin-top: 5%;
    cursor: pointer;
}

#span_sidebar_all_entries {
    margin-left: 5px;
}

#span_sidebar_favorites {
    margin-left: 5px;
}

#div_Folders_Options {
    margin-top: 10%;
}

#span_safesidebar_folders {
    font-size: 22px;
    font-weight: 400;
}

#icon_add_folder {
    margin-left: 20px;
    font-size: 18px;
    cursor: pointer;
}

#icon_close_sidebar {
    margin-right: 8px;
    margin-top: 6px;
    font-size: 22px;
    float: right;
}

@media screen and (max-width: 1150px) {
    .div_SafeSideBar {
        width: 25%;
    }
}

@media screen and (max-width: 800px) {
    .div_SafeSideBar {
        margin-top: 0%;
        transition: 0.5s;
        position: fixed;
        z-index: 1;
        height: 100%;
        width: 0;
        border: none; /*start our sidebar off not being seen in mobile*/
    }

    #div_sidebar_all_entries {
        margin-top: 55px;
    }
}
