.div_SafeSideBar {
    float: left;
    border: 1px solid black;
    width: 250px;
    overflow: auto;
    margin-top: 2%;
    background-color: #FFF;
    transition: 0.3s;
}

.div_safesidebar_navigation {
    margin-top: 12%;
    margin-bottom: 8%;
    margin-left: 7%;
    margin-right: 7%;
}

#lbl_safeaccounts_navigation {
    padding-left: 8%;
    padding-top: 1.5%;
    padding-bottom: 2.5%;
    color: black;
    font-size: 18px;
    font-weight: 600;
}

#lbl-folders {
    font-size: 22px;
    font-weight: 300;
    margin-top: 10%;
}

#btn_add_folder, #btn_close_sidebar {
    background: none !important;
    border: none;
    padding: 0 !important;
    /*input has OS specific font-family*/
    color: grey;
    cursor: pointer;
}

#btn_close_sidebar {
    margin-right: 3%;
    float: right;
}

#btn_add_folder {
    margin-top: 9%;
    margin-left: 5%;
    font-weight: 900;
    font-size: 24px;
}

#lbl_safeaccounts_navigation {
    color: black;
    background-color: lightgray;
    width: 100%;
}

#btn_safesidebar_all {
    margin-top: 11%;
    background: none !important;
    border: none;
    padding: 0 !important;
    /*input has OS specific font-family*/
    color: black;
    cursor: pointer;
}

#folder_top_level {
    margin-left: 1.5%;
}

@media screen and (max-width: 800px) {
    .div_SafeSideBar {
        margin-top: 0%;
        transition: 0.5s;
        position: fixed;
        z-index: 1;
        height: 100%;
        width: 0;
        border: none; /*start our sidebar off not being seen in mobile*/
    }
}
